@model IEnumerable<WebApplication1.Models.Show>

@{
    ViewData["Title"] = "Index";
}

<h1>Seanse</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
     <p>
        <a asp-action="Create">Dodaj nowy</a>
    </p>   
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieStart)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieStart)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id"> | Edytuj</a>;
                    <a asp-action="Delete" asp-route-id="@item.Id"> | Usuń</a>;
                }
            </td>
        </tr>
}
    </tbody>
</table>
